@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.title {
  font-family: Trebuchet MS, sans-serif;
  filter: 1px;
  font-size: 35px;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.container {
  width: 100%;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(3, 85, 159, 1) 0%,
    rgb(33, 126, 136) 50%,
    rgba(3, 85, 159, 1) 100%
  );
}
.column {
  float: left;
  width: 33.33%;
}

.background {
  display: flex;
  width: 100%;
  transform: scale(1);
  transition: transform 0.5s;
}
.background:hover {
  transform: scale(1.1);
}

.img{
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.img{
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
